{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Home
{% endblock %}

{% block css %}
    <style>
        .container{
            margin-top: 2%;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container text-center">
        <h1 class="display-4">About</h1>
        <hr>
        <blockquote class="blockquote text-center">
            AMS Web-App has been developed to take online admission in college.This is full featured Web-App
            with secured and scalable database management system. Admission can be given through 4 reliable and
            versatile stages of admission process.
        </blockquote>
    </div>

{% endblock %}
