{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{ var }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/AdminListView.css' %}">
    <link rel="stylesheet" href="{% static 'css/students.css' %}">

{% endblock %}

{% block body %}
    <h1 class="display-5 text-center">
        {{ var }}
        {% if year_1_d%}
            <label class="switch align-middle">
                <input id='slide_check' type="checkbox" checked onclick="checkFunc()">
                <span class="slider round"></span>
            </label>
        {% endif %}
    </h1>
    {% if year_1_d %}
        <div id="done">
            <div class="container mt-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#year_1">Year 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year_2">Year 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year_3">Year 3</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="margin-top: -40px">
                    <div id="year_1" class="container tab-pane active"><br>
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">SSC Marks</th>
                                            <th scope="col">HSC Marks</th>
                                            <th scope="col">MU No.</th>
                                            <th scope="col">Course</th>
                                            <th scope="col">Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in year_1_d %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                    {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                                </td>
                                                <td>{{ i.SSC_percentage }}</td>
                                                <td>{{ i.HSC_percentage }}</td>
                                                <td>{{ i.MU_application_no }}</td>
                                                <td>{{ i.course }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                        <a class="btn btn-primary" href="{% url 'year_1_update' i.slug %}">Update</a>
                                                        <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="year_2" class="container tab-pane fade"><br>
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Sem-1</th>
                                            <th scope="col">Sem-2</th>
                                            <th scope="col">Aggregate</th>
                                            <th scope="col">In-house</th>
                                            <th scope="col">Out-house</th>
                                            <th scope="col">Course</th>
                                            <th scope="col">Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in year_2_d %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                    {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                                </td>
                                                <td>{{ i.semester_1_SGPI }}</td>
                                                <td>{{ i.semester_2_SGPI }}</td>
                                                <td>{{ i.aggregate_1 }}</td>
                                                <td>
                                                    {% if i.in_house == True %}
                                                        <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                    {% else %}
                                                        <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if i.out_house == True %}
                                                        <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                    {% else %}
                                                        <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                    {% endif %}
                                                </td>
                                                <td>{{ i.course }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                        {% if i.in_house %}
                                                            <a class="btn btn-primary" href="{% url 'year_2_in_update' i.slug %}">Update</a>
                                                        {% elif i.out_house %}
                                                            <a class="btn btn-primary" href="{% url 'year_2_out_update' i.slug %}">Update</a>
                                                        {% endif %}
                                                        <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="year_3" class="container tab-pane fade"><br>
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Sem-1</th>
                                            <th scope="col">Sem-2</th>
                                            <th scope="col">Sem-3</th>
                                            <th scope="col">Sem-4</th>
                                            <th scope="col">Aggregate</th>
                                            <th scope="col">In-house</th>
                                            <th scope="col">Out-house</th>
                                            <th scope="col">Course</th>
                                            <th scope="col">Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in year_3_d %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                    {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                                </td>
                                                <td>{{ i.semester_1_SGPI }}</td>
                                                <td>{{ i.semester_2_SGPI }}</td>
                                                <td>{{ i.semester_3_SGPI }}</td>
                                                <td>{{ i.semester_4_SGPI }}</td>
                                                <td>{{ i.aggregate_2 }}</td>
                                                <td>
                                                    {% if i.in_house == True %}
                                                        <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                    {% else %}
                                                        <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if i.out_house == True %}
                                                        <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                    {% else %}
                                                        <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                    {% endif %}
                                                </td>
                                                <td>{{ i.course }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                        {% if i.in_house %}
                                                            <a class="btn btn-primary" href="{% url 'year_3_in_update' i.slug %}">Update</a>
                                                        {% elif i.out_house %}
                                                            <a class="btn btn-primary" href="{% url 'year_3_out_update' i.slug %}">Update</a>
                                                        {% endif %}
                                                        <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="pending" style="display: none">
            <div class="container mt-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#year_1">Year 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year_2">Year 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year_3">Year 3</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="margin-top: -40px">
                    <div id="year_1" class="container tab-pane active"><br>
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">SSC Marks</th>
                                            <th scope="col">HSC Marks</th>
                                            <th scope="col">MU No.</th>
                                            <th scope="col">Course</th>
                                            <th scope="col">Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in year_1_p %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                    {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                                </td>
                                                <td>{{ i.SSC_percentage }}</td>
                                                <td>{{ i.HSC_percentage }}</td>
                                                <td>{{ i.MU_application_no }}</td>
                                                <td>{{ i.course }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                        <a class="btn btn-primary" href="{% url 'year_1_update' i.slug %}">Update</a>
                                                        <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="year_2" class="container tab-pane fade"><br>
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Sem-1</th>
                                            <th scope="col">Sem-2</th>
                                            <th scope="col">Aggregate</th>
                                            <th scope="col">In-house</th>
                                            <th scope="col">Out-house</th>
                                            <th scope="col">Course</th>
                                            <th scope="col">Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in year_2_p %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                    {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                                </td>
                                                <td>{{ i.semester_1_SGPI }}</td>
                                                <td>{{ i.semester_2_SGPI }}</td>
                                                <td>{{ i.aggregate_1 }}</td>
                                                <td>
                                                    {% if i.in_house == True %}
                                                        <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                    {% else %}
                                                        <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if i.out_house == True %}
                                                        <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                    {% else %}
                                                        <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                    {% endif %}
                                                </td>
                                                <td>{{ i.course }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                        {% if i.in_house %}
                                                            <a class="btn btn-primary" href="{% url 'year_2_in_update' i.slug %}">Update</a>
                                                        {% elif i.out_house %}
                                                            <a class="btn btn-primary" href="{% url 'year_2_out_update' i.slug %}">Update</a>
                                                        {% endif %}
                                                        <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="year_3" class="container tab-pane fade"><br>
                        <div class="container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Sr. No.</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Sem-1</th>
                                            <th scope="col">Sem-2</th>
                                            <th scope="col">Sem-3</th>
                                            <th scope="col">Sem-4</th>
                                            <th scope="col">Aggregate</th>
                                            <th scope="col">In-house</th>
                                            <th scope="col">Out-house</th>
                                            <th scope="col">Course</th>
                                            <th scope="col">Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in year_3_p %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                    {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                                </td>
                                                <td>{{ i.semester_1_SGPI }}</td>
                                                <td>{{ i.semester_2_SGPI }}</td>
                                                <td>{{ i.semester_3_SGPI }}</td>
                                                <td>{{ i.semester_4_SGPI }}</td>
                                                <td>{{ i.aggregate_2 }}</td>
                                                <td>
                                                    {% if i.in_house == True %}
                                                        <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                    {% else %}
                                                        <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if i.out_house == True %}
                                                        <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                    {% else %}
                                                        <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                    {% endif %}
                                                </td>
                                                <td>{{ i.course }}</td>
                                                <td>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                        {% if i.in_house %}
                                                            <a class="btn btn-primary" href="{% url 'year_3_in_update' i.slug %}">Update</a>
                                                        {% elif i.out_house %}
                                                            <a class="btn btn-primary" href="{% url 'year_3_out_update' i.slug %}">Update</a>
                                                        {% endif %}
                                                        <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elif year1 %}

        <div class="container mt-3">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#year_1">Year 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#year_2">Year 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#year_3">Year 3</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="margin-top: -40px">
                <div id="year_1" class="container tab-pane active"><br>
                    <div class="container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Sr. No.</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">SSC Marks</th>
                                        <th scope="col">HSC Marks</th>
                                        <th scope="col">MU No.</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in year1 %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>
                                                {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                            </td>
                                            <td>{{ i.SSC_percentage }}</td>
                                            <td>{{ i.HSC_percentage }}</td>
                                            <td>{{ i.MU_application_no }}</td>
                                            <td>{{ i.course }}</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                    <a class="btn btn-primary" href="{% url 'year_1_update' i.slug %}">Update</a>
                                                    <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="year_2" class="container tab-pane fade"><br>
                    <div class="container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Sr. No.</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Sem-1</th>
                                        <th scope="col">Sem-2</th>
                                        <th scope="col">Aggregate</th>
                                        <th scope="col">In-house</th>
                                        <th scope="col">Out-house</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in year2 %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>
                                                {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                            </td>
                                            <td>{{ i.semester_1_SGPI }}</td>
                                            <td>{{ i.semester_2_SGPI }}</td>
                                            <td>{{ i.aggregate_1 }}</td>
                                            <td>
                                                {% if i.in_house == True %}
                                                    <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                {% else %}
                                                    <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if i.out_house == True %}
                                                    <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                {% else %}
                                                    <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                {% endif %}
                                            </td>
                                            <td>{{ i.course }}</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                    {% if i.in_house %}
                                                        <a class="btn btn-primary" href="{% url 'year_2_in_update' i.slug %}">Update</a>
                                                    {% elif i.out_house %}
                                                        <a class="btn btn-primary" href="{% url 'year_2_out_update' i.slug %}">Update</a>
                                                    {% endif %}
                                                    <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="year_3" class="container tab-pane fade"><br>
                    <div class="container">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Sr. No.</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Sem-1</th>
                                        <th scope="col">Sem-2</th>
                                        <th scope="col">Sem-3</th>
                                        <th scope="col">Sem-4</th>
                                        <th scope="col">Aggregate</th>
                                        <th scope="col">In-house</th>
                                        <th scope="col">Out-house</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in year3 %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>
                                                {{ i.surname }}&nbsp;{{ i.name }}&nbsp;
                                                {{ i.father_first_name }}&nbsp;{{ i.mother_first_name }}
                                            </td>
                                            <td>{{ i.semester_1_SGPI }}</td>
                                            <td>{{ i.semester_2_SGPI }}</td>
                                            <td>{{ i.semester_3_SGPI }}</td>
                                            <td>{{ i.semester_4_SGPI }}</td>
                                            <td>{{ i.aggregate_2 }}</td>
                                            <td>
                                                {% if i.in_house == True %}
                                                    <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                {% else %}
                                                    <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if i.out_house == True %}
                                                    <img src="{% static 'basic/yes.png' %}" class="admin" alt="Yes">
                                                {% else %}
                                                    <img src="{% static 'basic/no.png' %}" class="admin" alt="No">
                                                {% endif %}
                                            </td>
                                            <td>{{ i.course }}</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a class="btn btn-outline-secondary" href="{% url 'student_details' i.slug %}">View</a>
                                                    {% if i.in_house %}
                                                        <a class="btn btn-primary" href="{% url 'year_3_in_update' i.slug %}">Update</a>
                                                    {% elif i.out_house %}
                                                        <a class="btn btn-primary" href="{% url 'year_3_out_update' i.slug %}">Update</a>
                                                    {% endif %}
                                                    <a class="btn btn-danger" href="{% url 'student_delete' i.slug %}">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        function checkFunc(){
            const temp = document.getElementById('slide_check')
            const temp2 = document.getElementById('done')
            const temp3 = document.getElementById('pending')
            if(temp.checked === true){
                temp2.style.display = 'block';
                temp3.style.display = 'none';
            }
            else if(temp.checked === false){
                temp2.style.display = 'none';
                temp3.style.display = 'block';
            }
        }
    </script>
{% endblock %}